@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

body {
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0.01em;
}

.App {
  color: #141414;
  min-height: 100vh;
}

.Login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  .heading {
    font-size: 36px;
    text-align: center;
    max-width: 595px;
  }

  .description {
    font-size: 16px;
    margin-bottom: 50px;
  }

  .username-input {
    border: 1px solid #E8E8E8;
    border-radius: 24px;
    padding: 0 20px;
    width: 300px;
    max-width: 100%;
    height: 39px;
    text-align: center;
  }

  .avatar-container {
    display: flex;
    gap: 10px;
  }

  .avatar-item {
    cursor: pointer;
    padding: 20px;
    border-radius: 13px;
  }

  .avatar-item-selected {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .login-button {
    cursor: pointer;
    background-color: #21978B;
    color: #ffffff;
    border: none;
    border-radius: 100px;
    width: 294px;
    max-width: 100%;
    height: 61px;
    margin-top: 50px;
  }
}

.main-container {
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 1000px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.column-right {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex: 1;
}

.column-left {
  background-color: #FAFAFA;
  width: 300px;
  height: 100%;
  
}

.Messages {
  background-color: #ffffff;
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: scroll;
  align-items: start;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
  

  .user-header {
    background-color: #ffffff;
    border-bottom: 1px solid #ece7e7;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 64px;
    width: 100%;
    padding: 12px 36px;
    display: flex;
    align-items: center;
  }

  .user-name {
    font-weight: 900;
    color: #141414;
  }
}

.Message {
  
  max-width: 80%;
  display: flex;
  flex-direction: row;

  &:first-child {
    margin-top: auto;
  }
}

.message-timestamp {
  color: #4F5665;
  font-size: 11px;
  margin-bottom: 3px;
}

.message-column {
  display: flex;
  flex-direction: column;
}

.avatar {
  width: 36px;
  margin: 0px 12px 12px 12px;
  align-self: start;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #dee2e9;
}

.message-body {
  padding: 20px 40px;
  border-radius: 0px 16px 16px 16px;
  background-color: #F5F5F5;
}

.sent-by-me {
  
  align-self: end;
  
  .message-body {
    background-color: #21978B;
    border-radius: 16px 0px 16px 16px;
    color: #ffffff;
  }

  .avatar-column {
    order: 2
  }

  .message-column {
    order: 1
  }

  .message-sender {
    color: #282c34;
    text-align: right;
  }

  .message-timestamp {
    text-align: right;
  }

}

.message-sender {
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 3px;
}

.MessageInput {
  flex: 0 0 30px;
  display: flex;
  align-items: center;
  min-height: 64px;

  input {
    height: 60%;
    max-width: 93%;
    margin: 0 20px;
    flex: 1;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.03em;
    border: 1px solid #ece7e7;
    border-radius: 20px
  }

  button {
    cursor: pointer;
    padding: 0 20px;
    border: none;
    background-color: #10a887;
    color: #fff;
  }
}
